.green-icon{
    color: #198754;
}

.red-icon{
    color: #dc3545;
}

.spinner-border{
    height: 1.5rem;
    width: 1.5rem;
}

.titulo{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}